

body{
 margin: 0;
 padding: 0;
}

.im{
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imm{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}
.bg{
    background-color: lightgray;
}
/*.jumbotron{
    background-image: url(../image/pic1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   height: 400px;
   
}
*/
.el{
    height: 82px;
    width: 140px;
}
.ell{
    height: 200px;
    width: 140px;
}

els{
    height: 180px;
    width: 140px;
}

.circle-icon {
    background: #ffc0c0;
    padding:10px;
    border-radius: 50%;
}




@media only screen and (max-width:480px){
    .card{
        margin-right:15px;
    }
    .el .imm{
        margin-right: 15px;
    }
    .spy{
       font-size: 18px;
    }
    .nav{
        display: block;
        margin-right: 2px;
        padding: 5px;

    }
}



@media only screen and (max-width:768px){
    .imm{
        line-height: 100%;
        width: 100%;
    }
    .jumbotron{
        width: 100%;
    }
    .el{
        height: 100%;
        width: 100%;
        margin-right:20px;
    }
    .ell{
        height: 100%;
        width: 100%;
    }
    .spy{
        font-size: 20px;
    }
    .nav{
        display: block;
        margin-right: 2px;
        padding: 5px;

    }
}